<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	
	<bean id="customerLocator" class="com.sivalabs.springtraining.services.CustomerLocator">
		<property name="addressVerificationService" ref="mockAVS"/>
		<property name="customerDao" ref="inMemoryCustomerDao"/>
	</bean>
	
	<bean id="mockAVS" class="com.sivalabs.springtraining.services.impl.MockAddressVerificationService">
	
	</bean>
	<bean id="inMemoryCustomerDao" class="com.sivalabs.springtraining.dao.impl.InMemoryCustomerDao">
	
	</bean>
</beans>
